.header {
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 12px;
    font-weight: 200;
    padding: 0 1rem;
    gap: 1rem;
    .icon {
        width: 5rem;
    }
    .location {
        margin-right: auto;
        font-size: 2.5rem;
    }
}

.outfit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
    .item {
        grid-area: 'item';
    }
}